body {
	margin: 0;
	padding: 0;
}

.header {
	background-color: green;
	height: 199px;
	width: 100%;
	text-align: center;
	font-size: 40px;
	padding-top: 1px;
	color: #FCB32A;
}


.menu li {
	list-style-type: none;
	float: left;
	padding: 25px;
}

.menu a {
	text-decoration: none;
	font-size: 25px;
	font-family: calibri, arial, 'sans-serif';
	color: #980D12;
}

.search {
	padding-top: 30px;
	padding-right: 50px;
	float: right;
	color: #980D12;
}
